.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.media-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  row-gap: 2rem;
  column-gap: 1.2rem;
}

.media-card {
  border-radius: 7px;
  box-shadow: 2px 2px 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 350px;
  padding: 1rem;
  margin: 1rem auto;
}

.media-card img {
  border-radius: 7px;

}